# Dart & Flutter
.dart_tool/
.packages
build/
.pub-cache/
.pub/

# Android
**/android/.gradle
**/android/local.properties
**/android/app/build/

# iOS
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/.symlinks/

# IDE & OS
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db
